<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/bundles/organizerclient/js/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bundles/organizerclient/css/dist/todo-package.css">
    </head>
    {% verbatim %}
    <body>
        <div id="my-div"></div>
        <div class="container">
            <div class="jumbotron">
                <h1>Organizer</h1>
                <h2>Todo List</h2>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <form name="todoCreateForm">
                        <div class="input-group input-group-lg standalone">
                            <input type="text" class="form-control" placeholder="I need to..." required>
                            <span class="input-group-btn">
                                <!--<rb-async-button ng-model="addButton.isProcessing" class="btn btn-success" type="submit">
                                    <span>
                                        <span class="glyphicon glyphicon-plus"></span>
                                        Add item
                                    </span>
                                </rb-async-button>-->
                            </span>
                        </div>
                    </form>

                    <div id="todo-list"></div>

                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/bundles/organizerclient/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bundles/organizerclient/js/dist/1.0.0.Organizer.min.js"></script>
    {% endverbatim %}
</html>