<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/bundles/organizerclient/js/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/bundles/organizerclient/css/dist/todo-package.css">
    </head>
    {% verbatim %}
    <body>
        <div id="my-div"></div>
        <div class="container">
            <div class="jumbotron">
                <h1>Organizer</h1>
                <h2>Todo List</h2>
            </div>

            <div class="row">
                <div class="col-md-12">

                    <div id="todo-input"></div>
                    <div id="todo-list"></div>

                </div>
            </div>
        </div>
    </body>
    <script type="text/javascript" src="/bundles/organizerclient/js/node_modules/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bundles/organizerclient/js/dist/1.0.0.Organizer.min.js"></script>
    {% endverbatim %}
</html>